LIVEKIT_SECRET="<your livekit api secret>"
LIVEKIT_KEY="<your livekit api key>"
LIVEKIT_URL="<your livekit ws url>"
LIVEKIT_TOKEN="<your livekit token>"
IGNORED_WORDS=uh,umm,hmm,haan
STOP_KEYWORDS=stop,wait,hold on,no
INTERRUPT_CONFIDENCE_THRESHOLD=0.6